@import 'src/styles/colors';
@import 'src/styles/devices';

.hero-content {
	text-align: center;
	color: $hut8-teal;
	display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  max-height: 720px;

	.title {
		font-size: 2rem;
		letter-spacing: 3px;
		color: $hut8-teal;
		padding-top: 16px;
		max-width: 600px;

		@include for-tablet-portrait-up {
			font-size: 3rem;
			padding-top: 0;
		}
	}
	.sub-title {
		font-weight: 300;
		font-size: 0.825rem;
		@include for-tablet-portrait-up {
			font-size: 1.25rem;
		}
	}
}

.bitfury {
	background: #eceef3;
	padding-top: 140px;

	.in-partnership {
		padding-bottom: 60px;
	}

	.description {
		color: $dim-grey;
		font-size: 0.75rem;
		padding: 64px 0 24px;
		@include for-tablet-portrait-up {
			font-size: 1.25rem;
		}
	}

	h1 {
		font-size: 1.5rem;
		@include for-tablet-portrait-up {
			font-size: 2.25rem;
		}
	}

	img {
		max-width: 480px;
		width: 100%;
		@include for-tablet-portrait-up {
			width: auto;
			max-width: 100%;
		}
	}
	
}

.hut8-video {
	.title {
		margin-bottom: 64px;
		color: $white;
	}

	iframe {
		width: 100%;
    display: block;
    margin: 0;
    top: 0;
    left: 0;
    border: none;
	}
}

.blockbox-innovation, 
.investor-advantage {
	background: #d0d0d0;
	.title {
		color: $dim-grey;
	}
	.description {
    font-size: .75rem;
    @include for-tablet-portrait-up {
    	font-size: .875rem;
    }
    line-height: 1.75rem;
    padding-bottom: 24px;
	}

	img {
		max-width: 480px;
		width: 100%;
		
		&.image-left {
			display: block;
			margin-bottom: 32px;

			@include for-tablet-portrait-up {
				display: none;
			}
		}

		&.image-right {
			display: none;
			@include for-tablet-portrait-up {
				display: inline;
			}
		}
		
		@include for-tablet-portrait-up {
			width: auto;
			max-width: 100%;
		}
	}
}

.testimonials {
	padding-top: 160px;
	padding-bottom: 160px;
	.testimonial {
		font-family: 'Montserrat', sans-serif;
		font-size: 0.875rem;
		line-height: 1.5;
		padding-top: 48px;
		padding-bottom: 48px;
		@include for-tablet-portrait-up {
			font-size: 1.25rem;
		}
	}
	.said-by {
		font-family: 'Montserrat', sans-serif;
		padding-bottom: 48px;
	}
}

.news {
	margin-top: 80px;
}

.news-item {

	.content {
		padding-bottom: 64px;
		padding-left: 24px;
	}

	.date {
		background: #f4f4f4;
    color: #666;
    width: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px 0 0 0;
	}
	.month {
    background: #666;
    font-size: 11px;
    line-height: 11px;
    font-weight: bold;
    padding: 5px 0;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    color: #fff;
	}
	.title {
		font-size: 1rem;
		margin-bottom: 20px;
		color: $dim-grey;
		max-width: 280px;

		@include for-tablet-portrait-up {
			font-size: 1.2rem;
		}
	}
	.details {
		font-size: 14px;
		line-height: 2;
	}
	.link a {
		color: #00b290;
		font-size: 14px;
	}
}
 	
.subscribe-news {
	background: $hut8-teal;
	padding: 40px 0;
	.title {
		color: $black;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 0;
	}
	.ant-form-inline .subscription-input {
    max-width: 600px;
    display: block;
    float: left;
    width: 100%;
  	margin-top: 16px;

    @include for-tablet-portrait-up {
    	display: inline;
    	margin-top: 0;
    }
	}
	.ant-input {
		border-radius: 0;
		border: 1px solid $black;
	}
	.subscription-btn {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    width: 100%;
    margin-top: 8px;

    @include for-tablet-portrait-up {
    	margin-top: 0;
    }
	}
}

.cryptocurrency-rates {
	.title {
		font-family: 'Montserrat', sans-serif;
		color: $hut8-teal;
		font-size: 1.5rem;
		font-weight: 700;
		text-align: center;
	}

	.coinList {
	 color: $white;
	 list-style: none;
	 width: 2500px;
	 margin-top: 24px;

		/* Starting position */
	 -moz-transform:translateX(100%);
	 -webkit-transform:translateX(100%);	
	 transform:translateX(100%);
	 /* Apply animation to this element */	
	 -moz-animation: marquee 40s linear infinite;
	 -webkit-animation: marquee 40s linear infinite;
	 animation: marquee 40s linear infinite;

	 li {
	 	display: inline;
	 	font-size: 14px;
	 	padding-right: 48px;

	 	img {
	 		padding-right: 16px;
	 	}

	 	.coin-name {
	 		padding-right: 8px;
	 	}
	 	.coin-down, .coin-up {
	 		padding-left: 8px;
	 		font-size: 11px;
	 	}

	 	.coin-up { 
	 		color: $success;
	 	}
	 }
	}
}

.first-quarter {
	.description {
		padding: 32px 0;
		color: $white;
	}
}

/* Move it (define the animation) */
@-moz-keyframes marquee {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
	 0%   { 
	 	-moz-transform: translateX(100%); /* Firefox bug fix */
	 	-webkit-transform: translateX(100%); /* Firefox bug fix */
	 	transform: translateX(100%); 		
	 }
	 100% { 
	 	-moz-transform: translateX(-100%); /* Firefox bug fix */
	 	-webkit-transform: translateX(-100%); /* Firefox bug fix */
	 	transform: translateX(-100%); 
	 }
}
