@import "src/styles/colors";
@import "src/styles/devices";

.what-they-said {
	background: $white;
	padding-top: 80px;
	padding-bottom: 80px;
	.testimonial {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.125rem;
		line-height: 1.5;
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.said-by {
		font-family: 'Montserrat', sans-serif;
		padding-bottom: 48px;
	}
}


.why-invest-benefits, .our-approach {
	padding-top: 80px;
	padding-bottom: 80px;

	.ant-row-flex {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.icon-image {
		text-align: center;
		padding-bottom: 48px;
	}

	.anticon{
		font-size: 3em;
		padding: 48px;
		color: $dim-grey;
	}

	.svg-icon {
		width: 64px;
	}
	
	.heading {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		padding-bottom: 16px;
		text-align: center;
	}
	.content {
		font-size: 14px;
		line-height: 2;
	}
}


.why-choose-alberta {
	color: $hut8-teal;
	.title {
		color: $hut8-teal;
	}
}

.key-investment {
	color: $white;
	.icon-title {
		padding-top: 64px;
		text-align: center;
		img {
			padding-bottom: 24px;
		}
		.heading {
			color: $white;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
		}
	}

	.content {
		font-size: 14px;
		padding: 24px;
		ul {
			padding-left: 0;
			line-height: 2;
		}
	}
}

.faq {
	.ant-collapse {
		font-family: 'Montserrat', sans-serif;
		.ant-collapse-header {
			text-transform: uppercase;
			padding: 24px 0 24px 40px;
			font-weight: 700;
			.arrow {
				top: 12px;
			}
		}
	}
	.link-to-contact {
		padding-top: 64px;
		h3 {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
		}
		.contact-us-btn {
			margin-top: 32px;
		}
	}
}