@import "src/styles/colors";
@import "src/styles/devices";

.navbar {
	height: 90px;
	
	&.scrolled {
		background: $white;
		.logo-plain {
			display: block;
		}
		.logo-white {
			display: none;
		}
		.nav a {
			color: $black;
			text-transform: uppercase;
		}
	}

	&.unscrolled {
		.logo-plain {
			display: none;
		}
		.logo-white {
			display: block;
		}
	}

	.logo {
	  margin: 8px;
	  float: left;
	}
	.nav {
		font-family: 'Montserrat', sans-serif;
		font-size: 0.75em;
		background-color: transparent;
		border-bottom: none;
		line-height: 90px;
		float: right;


		.ant-menu-item-active, 
		.ant-menu-item-selected, 
		.ant-menu-item:hover {
			border-bottom: 0;
		}

		a {
			color: $white;
			text-transform: uppercase;
		}
	}
}
